.login-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.login-area {
  width: 400px;
  height: 250px;
  background-color: rgba(128, 192, 255, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  width: 200px;
  height: 40px;
  margin: 5px auto;
}
