.post-wrap {
  display: flex;
  flex-direction: column;
}

.post-wrap .title-area {
  display: flex;
  flex-wrap: wrap;
}

.post-wrap .profile {
  width: 5%;
}

.post-wrap .category {
  width: 30%;
  overflow: hidden;
}

.post-wrap .title {
  width: 100%;
  font-size: 24px;
  min-height: 50px;
  background-color: aquamarine;
  overflow: hidden;
}

.post-wrap .username {
  width: 25%;
  font-size: 18px;
  min-height: 40px;
}

.post-wrap .setting {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: deepskyblue;
}

.setting .setting-icon {
  width: calc(100% / 14);
  height: 100%;
  background-color: cornflowerblue;
}

.post-wrap .contents-area {
  text-align: start;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 400px;
  background-color: white;
}

.post-wrap .comments {
  background-color: darkseagreen;
}
