.post-title {
  font-size: 22px;
  min-height: 50px;
  background-color: aquamarine;
}

.post-contents {
  min-height: 400px;
  background-color: white;
}

.post__comments {
  background-color: darkseagreen;
}
