.post-save {
  overflow: hidden;
}
.post-save textarea {
  resize: none;
  border: none;
  border-radius: 3px;
}

.post-save .tool-area {
  margin-left: auto;
  width: 20%;
  height: 100%;
  background-color: darkseagreen;
  display: flex;
  flex-direction: row-reverse;
}

.post-save .editor-wrap {
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 80px;
  width: 100%;
  background-color: lightcyan;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-save .commit-btn {
  height: 32px;
}

.post-save .set-category {
  height: 50%;
  width: 20%;
}

.post-save .set-title {
  /* height: 50%; */
  width: 70%;
  font-size: 20px;
}

.post-save .set-content {
  width: 80%;
}
