.contents-area {
  display: flex;
  background-color: rgb(127, 255, 155);
}

.contents-area .group-area{
 flex-basis: 12%;
}

.contents-area .main-area {
  flex-basis: 78%;
  background-color: lightblue;
}
 .contents-area .sub-area{
  flex-basis: 10%;
 }