.contents-area {
  display: flex;
}

.contents-area .group-area {
  flex-basis: 16%;
  max-width: 16%;
}

.contents-area .main-area {
  border-left: 1px solid;
  border-right: 1px solid;
  flex-basis: 74%;
  max-width: 74%;
  padding: 15px;
}
.contents-area .sub-area {
  flex-basis: 10%;
  max-width: 10%;
}
 .contents-area .sub-area{
  flex-basis: 10%;
 }