.user-info-wrap {
  margin-top: 2px;
  position: absolute;
  max-height: 500%;
  max-width: 250%;
  height: 500%;
  width: 250%;
  right: 0;
  background-color: darkcyan;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.user-info-wrap .profile-img {
  width: 50%;
  height: 90%;
  border-radius: 25%;
  background-color: white;
}

.user-info-wrap .my-page-btn {
  width: 40%;
  height: 25%;
  border-radius: 5px;
}

.user-info-wrap .logout-btn {
  width: 40%;
  height: 25%;
  border-radius: 5px;
}
