.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: antiquewhite;
}

.header .header-icon {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .header-menu {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .intro-img {
  flex-basis: 100%;
}