.user-profile {
  height: 100%;
  width: 100%;
  position: relative;
}

.user-menu-btn {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: lightsteelblue;
}