.post-bar {
  margin: 5px auto;
  background-color: rgb(169, 233, 233);
  border: 0;
  outline: 0;
}

.post-category-link {
  background-color: transparent;
  font-size: 12px;
}

.post-title-link {
  background-color: lightsalmon;
}

.post-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-created-date {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: aquamarine;
}

.post-view-count {
  background-color: burlywood;
  width: 30%;
  height: 100%;
}
