.comment-save {
  border: 2px solid rgb(255, 184, 193);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.comment-username {
  height: 30px;
  margin-left: 15px;
  text-align: start;
}

.comment-contents-area{
  width: 95%;
  height: 80px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 10px;
}

.comment__button-area{
  text-align: end;
  margin-right: 15px;
}

.comment-submit{
  font-size: small;
  background-color: palegreen;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.comment-submit-cancel{
  font-size: small;
  background-color: antiquewhite;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}