.comment-save {
  border: 1.8px solid rgb(255, 184, 193, 0.8);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.comment-username {
  height: 30px;
  margin-left: 15px;
  text-align: start;
}

.comment-contents-area {
  width: 95%;
  height: 80px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 10px;
}

.comment-save .comment-command-area {
  display: flex;
  justify-content: space-between;
}

.comment-save .submit-area {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.comment-submit {
  font-size: small;
  background-color: rgb(144, 238, 144, 0.6);
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.comment-submit-cancel {
  font-size: small;
  background-color: rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
