.post-page {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-size {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 55px;
  height: 35px;
}
