.comment-detail {
  padding-top: 50px;
  margin: auto;
  border-top: 2px solid rgb(0, 0, 0, 0.2);
}
.comment-list {
    width: 80%;
}

.comment-save {
  margin-top: 15px;
  width: 75%;
  height: 150px;
}
