.comment-detail {
  background-color: rgba(255, 192, 255, 0.25);
  padding-top: 50px;
  margin: auto;
  border-top: 1.5px solid rgb(0, 0, 0, 0.2);
}
.comment-list {
  background-color: white;
  width: 80%;
}

.comment-save {
  background-color: white;
  margin-top: 15px;
  width: 75%;
  height: 150px;
}
